header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 33px 9%;
    background: $bc;

    .logo{
        font-size: 30px;
        font-weight: 700;
        color: white;
    }

    .navlist{
        display: flex;
        a{
            color: white;
            margin-left: 60px;
            font-size: 20px;
            font-weight: 100;
            border-bottom: 2px solid transparent;
            transition: all .55s ease;

            &:hover{
                border-bottom: 2px solid white;
            }
        }
    }

    #menu-icon{
        color: white;
        font-size: 35px;
        z-index: 1001;
        cursor: pointer;
        display: none;
    }
}