.gallery-container {
    margin-top: 80px;
    background: linear-gradient(245deg, #375d72 0%, #5e83b4 28%, #31bbe6 75%);
    padding: 20px;
  
    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 20px;
  
        .gallery-item {
            border-radius: 50px;
            img {
                border-radius: 50px;
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}
  
 
  